*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.shoes_information{
    width: 1300px;
    height: 800px;
    background-color: aquamarine;
    margin: 12px auto;
}
.for_img{
    width: 50%;
    height: 600px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}
.small_box{
    width: 18%;
    height: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.little_img{
    width: 100%;
    height: 200px;
    background-color:chocolate;
    margin: 5px 0px;
}
.big_img{
    width: 76%;
    height: 100%;
    background-color: brown;
}